@import '~@scss/element.scss';

.icon {
  cursor: pointer;
  display: inline-block;
  fill: currentColor;
  height: 16px;
  stroke: currentColor;
  stroke-width: 0;
  vertical-align: middle;
  width: 16px;
}
