@import '~@scss/element.scss';
@import '~@scss/layout.scss';

.video {
  position: relative;
  width: 320px;

  > p {
    height: 54px;
    margin: 10px 0 30px;
    overflow: hidden;
  }
}

.video-image {
  border-radius: 12px;
  height: 200px;
  width: 320px;
}

.video-banner {
  box-sizing: border-box;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  left: 0;
  margin: 0;
  padding: 20px 16px;
  position: absolute;
  top: 144px;
  width: 320px;

  svg {
    fill: #fff;
    height: 32px;
    width: 32px;
  }
}
