@import '~@scss/element.scss';
@import '~@scss/layout.scss';

.video {
  width: 320px;

  > img {
    border-radius: 12px;
    width: 320px;
  }

  > p {
    height: 54px;
    margin: 10px 0 30px;
    overflow: hidden;
  }
}
