@import '~@scss/element.scss';

.video-info-wrapper {
  height: 110px;
  overflow: hidden;
  padding: 12px 24px;
  transform: translateZ(0);
  transition: all 0.5s;

  > div {
    color: #999;
    font-size: 24px;
    margin: 20px 0;
  }
}

.video-comment-svgs {
  & > span {
    padding: 0 30px 0 10px;
  }
}

.video-title {
  position: relative;

  > p {
    @include text-ellipsis;

    color: #000;
    font-size: 32px;
    line-height: 1.5;
    margin: 0;
    width: 90%;
  }

  > svg {
    fill: rgb(159, 159, 159);
    position: absolute;
    right: 20px;
    top: 0;
    width: 36px;
  }
}

.video-tags {
  @include flex;

  font-size: 24px;

  > span {
    background: #f4f4f4;
    border-radius: 100px;
    margin: 10px 10px;
    padding: 16px 36px;
  }
}


.video-data {
  > span {
    &:first-child {
      color: #000;
      margin-right: 40px;
    }

    em {
      font-style: normal;
      margin-right: 20px;
    }
  }
}

.video-desc {
  line-height: 1.6;
  white-space: pre-line;
}

.icon-forbidden {
  height: 30px;
  position: relative;
  top: 6px;
  width: 30px;
}

.video-comment-wrapper {
  @include flex;

  box-sizing: border-box;
  color: #999;
  font-size: 20px;
  height: 90px;
  justify-content: space-between;
  line-height: 36px;
  padding: 22px 36px;

  svg,
  img {
    height: 36px;
    margin-top: -6px;
    vertical-align: middle;
    width: 36px;
  }
}

.video-related-panel {
  background: #fff;
  margin: 0;

  header {
    display: none;
  }
}
